.DS_Store
/.build
/Packages
/*.xcodeproj
URLBuilder.xcworkspace
URLBuilder.xcodeproj/xcuserdata
URLBuilder.xcodeproj/project.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
