trigger:
- master
- develop

pool:
  vmImage: 'macos-latest'

steps:

- script: swift package generate-xcodeproj
  displayName: 'Create XcodeProject file'

- script: xcodebuild -scheme URLBuilder-Package clean build test | xcpretty -r junit
  displayName: 'Run tests'

- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(System.DefaultWorkingDirectory)/build/reports/junit.xml'
