trigger:
- master
- develop

pool:
  vmImage: 'macos-latest'

steps:

- script: brew install swiftlint
  displayName: 'Installing SwiftLint to runner'

- script: swift package generate-xcodeproj
  displayName: 'Create XcodeProject file'

- script: swiftlint
  displayName: '[Linter] SwiftLint'

- script: set -o pipefail && xcodebuild -scheme URLBuilder-Package -enableCodeCoverage YES clean build test | xcpretty -r junit
  displayName: 'Run tests'

- script: 'bash <(curl -s https://codecov.io/bash) -t {$CODECOV_TOKEN}'
  displayName: 'Upload test results to Codecov service'

- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(System.DefaultWorkingDirectory)/build/reports/junit.xml'
  condition: succeededOrFailed()
