name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:

    runs-on: macOS-latest
    
    steps:
    - uses: actions/checkout@v1
    
    - name: Installing SwiftLint to runner
      run: brew install swiftlint
    
    - name: Create XcodeProject file
      run: swift package generate-xcodeproj
    
    - name: SwiftLint
      run: swiftlint
      
    - name: Run tests
      run: set -o pipefail && xcodebuild -scheme URLBuilder-Package -enableCodeCoverage YES -derivedDataPath .build/derivedData clean build test | xcpretty -r junit
